<!-- О нас -->
<section class="section" id="about-us">
  <div class="container container-about">
    <div class="flex-about">
      <ul class="gallery">
        <li class="item">
          <picture>
            <source
              srcset="
                ./images/desktop_ruka1.jpeg 1x,
                ./images/desktop_ruka1.jpeg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/desktop_ruka1.jpeg 1x,
                ./images/desktop_ruka1.jpeg 2x
              "
              media="(min-width: 768px)"
            />
            <img src="./images/desktop_ruka1.jpeg" alt="BarberShop" />
          </picture>
        </li>
        <li class="item">
          <picture>
            <source
              srcset="
                ./images/desktop_ruka1.jpeg 1x,
                ./images/desktop_ruka1.jpeg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/desktop_ruka1.jpeg 1x,
                ./images/desktop_ruka1.jpeg 2x
              "
              media="(min-width: 768px)"
            />
            <img src="./images/desktop_ruka1.jpeg" alt="BarberShop" />
          </picture>
        </li>
      </ul>

      <div>
        <p class="name-section">Про нас</p>
        <h2 class="title-about">М-ШАРМ - швейний цех</h2>

        <p class="description">
          Наш швейний цех - це якісно обладнане і сучасне швейне виробництво, що
          закриває всі питання пошиття від А до Я.
        </p>
        <p class="main-text">
          Ми команда, яка ніколи не зупиняється на досягнутому. На якість
          процесу впливає в першу чергу персонал, саме тому у нас працюють
          кваліфіковані співробітники, для кожної з ділянок своєї спеціалізації!
        </p>

        <a href="#clients-form-ref" class="button-about">зв'язатись з нами</a>
      </div>
    </div>
  </div>
</section>
