<section class="section">
  <div class="container">
    <div class="adv_wrap">
      <div class="descr_wrap">
        <span class="adv_underline"> </span>
        <p class="advant_title">Новітні знання та технології</p>
        <h2 class="adv_header">Чому звертаються саме до нас?</h2>
        <p class="adv_description">
          Висока кваліфікація фахівців нашого швейного цеху в Хмельницькому,
          помножена на досвід, в результаті дає відмінний результат, яким будете
          задоволені і ви, і покупці.
        </p>
      </div>
      <ul class="adv_list">
        <li class="adv_item">
          <p class="adv_num">
            600
            <svg class="icon-plus" width="9" height="9">
              <use href="./images/sprite.svg#icon-plus"></use>
            </svg>
          </p>
          <p class="adv_num_descr">задоволенні клієнти</p>
        </li>
        <li class="adv_item">
          <p class="adv_num">
            50
            <svg class="icon-plus" width="9" height="9">
              <use href="./images/sprite.svg#icon-plus"></use>
            </svg>
          </p>
          <p class="adv_num_descr">нагороди за хороший сервіс</p>
        </li>
        <li class="adv_item">
          <p class="adv_num">
            20
            <svg class="icon-plus" width="9" height="9">
              <use href="./images/sprite.svg#icon-plus"></use>
            </svg>
          </p>
          <p class="adv_num_descr">Найкращі майстри Хмельницького</p>
        </li>
        <li class="adv_item">
          <p class="adv_num">
            100
            <svg class="icon-plus" width="9" height="9">
              <use href="./images/sprite.svg#icon-plus"></use>
            </svg>
          </p>
          <p class="adv_num_descr">Подарунки постійним клієнтам</p>
        </li>
      </ul>
    </div>
  </div>
</section>
