<section class="section">
  <div class="container">
    <p class="gallery-title">
      МИ ЕКСПЕРТИ ШВЕЙНОЇ СПРАВИ, ТОМУ: ЛЮБИМО, ЩОБ БУЛО БОМБА!
    </p>
    <ul class="images">
      <li class="item">
        <picture>
          <source
            srcset="./images/IMG_1986.jpeg 1x, ./images/IMG_1986.jpeg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/IMG_1986.jpeg 1x, ./images/IMG_1986.jpeg 2x"
            media="(max-width: 1279px)"
          />
          <source
            srcset="./images/IMG_1986.jpeg 1x, ./images/IMG_1986.jpeg 2x"
            media="(min-width: 1280px)"
          />
          <img
            class="gallery-picture"
            src="./images/IMG_1986.jpeg"
            alt="Барбер с машинкой"
          />
        </picture>
      </li>
      <li class="item">
        <picture>
          <source
            srcset="./images/IMG_1986.jpeg 1x, ./images/IMG_1986.jpeg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/IMG_1986.jpeg 1x, ./images/IMG_1986.jpeg 2x"
            media="(max-width: 1279px)"
          />
          <source
            srcset="./images/IMG_1986.jpeg 1x, ./images/IMG_1986.jpeg 2x"
            media="(min-width: 1280px)"
          />
          <img
            class="gallery-picture"
            src="./images/IMG_1986.jpeg"
            alt="Барбер с помазком"
          />
        </picture>
      </li>
      <li class="item">
        <picture>
          <source
            srcset="./images/IMG_1986.jpeg 1x, ./images/IMG_1986.jpeg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/IMG_1986.jpeg 1x, ./images/IMG_1986.jpeg 2x"
            media="(max-width: 1279px)"
          />
          <source
            srcset="./images/IMG_1986.jpeg 1x, ./images/IMG_1986.jpeg 2x"
            media="(min-width: 1280px)"
          />
          <img
            class="gallery-picture"
            width="270px"
            height="180px"
            src="./images/IMG_1986.jpeg"
            alt="Барбер с полотенцем"
          />
        </picture>
      </li>
      <li class="item">
        <picture>
          <source
            srcset="./images/IMG_1986.jpeg 1x, ./images/IMG_1986.jpeg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/IMG_1986.jpeg 1x, ./images/IMG_1986.jpeg 2x"
            media="(max-width: 1279px)"
          />
          <source
            srcset="./images/IMG_1986.jpeg 1x, ./images/IMG_1986.jpeg 2x"
            media="(min-width: 1280px)"
          />
          <img
            class="gallery-picture"
            src="./images/IMG_1986.jpeg"
            alt="Барбер с опасной бритвой"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
