<!-- Секция наши мастера -->

<section class="section masters" id="masters">
  <div class="container our-masters">
    <p class="description-master">для тих хто цінує якість</p>
    <h2 class="section-title">Наші майстріні</h2>
    <ul class="list master-list">
      <li class="master-item">
        <picture>
          <source
            srcset="
              ./images/shveinyj_ceh.jpeg 1x,
              ./images/shveinyj_ceh.jpeg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/shveinyj_ceh.jpeg 1x,
              ./images/shveinyj_ceh.jpeg 2x
            "
            media="(max-width:1199px)"
          />
          <source
            srcset="
              ./images/shveinyj_ceh.jpeg 1x,
              ./images/shveinyj_ceh.jpeg 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="master-img"
            src="./images/shveinyj_ceh.jpeg "
            alt="John Smith"
          />
        </picture>

        <h3 class="master-title">John Smith</h3>
        <p class="master-subtitle">ТЕХНОЛОГ</p>
        <ul class="list social-list">
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Инстаграм" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Твитер" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Фейсбук" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Линкедин" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="master-item">
        <picture>
          <source
            srcset="
              ./images/desktop_poshiv.jpeg 1x,
              ./images/desktop_poshiv.jpeg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/desktop_poshiv.jpeg 1x,
              ./images/desktop_poshiv.jpeg 2x
            "
            media="(max-width:1199px)"
          />
          <source
            srcset="
              ./images/desktop_poshiv.jpeg 1x,
              ./images/desktop_poshiv.jpeg 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="master-img"
            src="./images/desktop_poshiv.jpeg "
            alt="Michele Doe"
          />
        </picture>

        <h3 class="master-title">Michele Doe</h3>
        <p class="master-subtitle">КРАВЕЦЬ</p>
        <ul class="list social-list">
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Инстаграм" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Твитер" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Фейсбук" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Линкедин" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="master-item">
        <picture>
          <source
            srcset="./images/josh.jpeg 1x, ./images/josh.jpeg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/josh.jpeg 1x, ./images/josh.jpeg 2x"
            media="(max-width:1199px)"
          />
          <source
            srcset="./images/josh.jpeg 1x, ./images/josh.jpeg 2x"
            media="(min-width: 1200px)"
          />
          <img class="master-img" src="./images/josh.jpeg " alt="Alan Black" />
        </picture>

        <h3 class="master-title">Alan Black</h3>
        <p class="master-subtitle">МОДЕЛЬЄР</p>
        <ul class="list social-list last">
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Инстаграм" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Твитер" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Фейсбук" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="social-item">
            <a href="#" aria-label="Ссылка на Линкедин" class="link">
              <svg class="icon-socials" width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
