<section id="services-and-prices" class="services-prices section overlay">
  <div class="container">
    <p class="subtitle">
      Вас запевняємо, що цей перелік дозволяє виконати будь-який каприз і надати
      на виході готовий класний продукт, який легко продати.
    </p>
    <h2 class="title">Послуги</h2>
    <ul class="price-list">
      <li class="left-side">
        <ul class="list">
          <li class="price-list-item">
            <p class="price-list-service">Пошиття футболок і світшоти</p>
            <span class="price-underline"></span>
            <p class="price-list-value">від 300 грн.</p>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Дитячий і жіночий трикотаж</p>
            <span class="price-underline"></span>
            <p class="price-list-value">від 200 грн.</p>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Пошив зразка, пошиття партій одягу</p>
            <span class="price-underline"></span>
            <p class="price-list-value">від 200 шт.</p>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">Пошиття корпоративного одягу</p>
            <span class="price-underline"></span>
            <p class="price-list-value">від 50 шт.</p>
          </li>
        </ul>
      </li>
      <li class="right-side">
        <ul class="list">
          <li class="price-list-item">
            <p class="price-list-service">
              Переваги співпраці з нами Виконуємо пошиття одягу оптом на
              замовлення - партії від 50 шт. будь-які типи одягу за вигідними
              оптовими цінами; Використовуємо професійне обладнання;
              Застосовуємо електроніку САПР; Переживаємо за якість продукту на
              виході; Шиємо «як для себе»; У команді - тільки професіонали з
              величезним досвідом і серцями, які люблять свою роботу;
            </p>
            <span class="price-underline"></span>
            <p class="price-list-value"></p>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">
              Ми співпрацюємо з кращими постачальниками матеріалів, до Ваших
              послуг безкоштовна експертна консультація, і Вам не потрібно
              витрачати час на пошук якісної тканини.
            </p>
            <span class="price-underline"></span>
            <p class="price-list-value"></p>
          </li>
          <li class="price-list-item">
            <p class="price-list-service">
              Пошиття одягу оптом за категоріями від партії - Мінімальне
              замовлення від 51 шт. по одній позиції!
            </p>
            <span class="price-underline"></span>
            <p class="price-list-value">від грн.</p>
          </li>
          <li class="price-list-item">
            <p class="price-list-service" class="price-list-value">
              Розробка лекал і градації лекал
            </p>
            <span class="price-underline"></span>
            <p class="price-list-value">від 200 грн.</p>
          </li>
        </ul>
      </li>
    </ul>

    <div class="button-center">
      <a href="#clients-form-ref" class="button-contacts"
        >замовити прямо зараз</a
      >
    </div>
  </div>
</section>
