<!-- О нас -->
<section class="section" id="about-us">
  <div class="container container-about">
    <div class="flex-about">
      <ul class="gallery">
        <li class="item">
          <picture>
            <source
              srcset="./images/desktop_ruka1.jpeg 1x,
                      ./images/shveika2.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/desktop_ruka1.jpeg 1x,
                ./images/desktop_ruka1.jpeg 2x
              "
              media="(min-width: 768px)"
            />
            <img src="./images/desktop_ruka1.jpeg" alt="BarberShop" />
          </picture>
        </li>
        <li class="item">
          <picture>
            <source
              srcset="
                ./images/desktop_ruka1.jpeg 1x,
                ./images/desktop_ruka1.jpeg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/desktop_ruka1.jpeg    1x,
                ./images/desktop_ruka1.jpegjpg 2x
              "
              media="(min-width: 768px)"
            />
            <img src="./images/desktop_ruka1.jpeg" alt="BarberShop" />
          </picture>
        </li>
      </ul>

      <div>
        <p class="name-section">о нас</p>
        <h2 class="title-about">Лучший Барбершоп твоего города</h2>

        <p class="description">
          Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
          нам.
        </p>
        <p class="main-text">
          Мы команда, которая никогда не останавливается на достигнутом и жаждет
          перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
          сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
          волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
          приходит!
        </p>

        <a href="#clients-form-ref" class="button-about">онлайн-запись</a>
      </div>
    </div>
  </div>
</section>
